<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/dashboard :: dynamic(~{::content})}">
<body  th:fragment="content">
    <h1>Danh sách người dùng</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên đăng nhập</th>
                <th>Mật khẩu</th>
                <th>Email</th>
                <th>Vai trò</th>
                <th>Ngày tạo</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="u : ${users}">
                <td th:text="${u.id}"></td>
                <td th:text="${u.username}"></td>
                <td th:text="${u.password}"></td>
                <td th:text="${u.email}"></td>
                <td th:text="${u.role}"></td>
                <td th:text="${#temporals.format(u.created_at, 'dd-MM-yyyy HH:mm')}"></td>
				<td class="d-flex">
					  <a th:href="@{/admin/users/edit/{id}(id=${u.id})}" class="btn btn-sm btn-primary me-2">
					    <i class="bi bi-pen"></i> Sửa
					  </a>
					  <a th:href="@{/admin/users/delete/{id}(id=${u.id})}" 
					     class="btn btn-sm btn-danger" 
					     onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');">
					    <i class="bi bi-trash"></i> Xóa
					  </a>
					</td>                
            </tr>
        </tbody>
    </table>
</body>
</html>