<footer class="bg-light text-center text-lg-start mt-2">
    <div class="container p-3 text-start">
        <div class="row">
            <!-- Cột 1: Logo và thông tin -->
            <div class="col-12 col-md-3 mb-3 ">
                <div class="mb-3">
                    <a class="fs-4 fw-bold text-dark text-decoration-none logo" href="/">T.T Fashion</a>
                </div>
                <div class="text-muted">
				    <p class="d-flex">
				        <i class="bi bi-house-heart-fill me-2"></i>
				        <span>Thương hiệu thời trang marc - công ty cổ phần sản xuất thương mại mạnh mẽ việt</span>
				    </p>
				    <!-- <p class="text-lowercase d-flex align-items-center">
				        <i class="bi bi-building me-2"></i>
				        <span>địa chỉ: tầng 15.06 tòa nhà golden king office, số 15 nguyễn lương bằng, phường tân phú, quận 7, tp.hcm</span>
				    </p> -->
				    <p class="d-flex align-items-center">
				        <i class="bi bi-shield-lock me-2"></i>
				        <span>Chính sách bảo mật</span>
				    </p>
				    <p class="d-flex align-items-center">
				        <i class="bi bi-shuffle me-2"></i>
				        <span>Điều khản và điều kiện</span>
				    </p>
				</div>
            </div>

            <!-- Cột 2: Giới thiệu -->
            <div class="col-12 col-md-3 mb-3">
                <div class="fw-bold fs-5 mb-2">Giới thiệu</div>
                <div class="text-muted">
                    <p>Giới thiệu T.T Fashion</p>
                    <p>Tuyển dụng</p>
                    <p>Cảm hứng thời trang</p>
                    <p>Nhượng quyền thương mại</p>
                    <!-- <p>Khách hàng thân thiết</p> -->
                    <!-- <p>Danh sách cửa hàng</p> -->
                </div>
            </div>

            <!-- Cột 3: Hỗ trợ khách hàng -->
            <div class="col-12 col-md-3 mb-3">
                <div class="fw-bold fs-5 mb-3">Hỗ trợ khách hàng</div>
                <div class="text-muted">
                    <p>Chính sách đổi trả</p>
                    <p>Hướng dẫn mua hàng</p>
                    <p>FAQ</p>
                    <p>Chăm sóc khách hàng</p>
                </div>
            </div>

            <!-- Cột 4: Kết nối và Chứng nhận -->
            <div class="col-12 col-md-3 mb-3">
                <!-- Phần kết nối (Social Media) -->
                <div class="fw-bold fs-5 mb-3 m-1">Kết nối</div>
                <div class="d-flex mb-3">
                    <a href="#" class="text-dark m-1"><i class="bi bi-facebook fs-3"></i></a>
                    <a href="#" class="text-dark m-1"><i class="bi bi-instagram fs-3"></i></a>
                    <a href="#" class="text-dark m-1"><i class="bi bi-youtube fs-3"></i></a>
                </div>

                <!-- Phần Chứng nhận -->
                <div class="fw-bold fs-5 mb-3 m-1">Chứng nhận</div>
                <div class="d-flex">
                    <div class="m-1">
                        <img src="/images/congthuong.png" alt="Cong Thuong" style="max-width: 100px;">
                    </div>
                    <div class="m-2">
                        <img src="/images/dmca.png" alt="DMCA" style="max-width: 100px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
