<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/dashboard :: dynamic(~{::content})}">
<body th:fragment="content">

		<div class="alert alert-success" th:if="${message}" th:text="${message}"></div>
		
        <div class="d-flex" >
        <h2 class="col-6">Danh sách sản phẩm</h2>
        <div class="col-4"> <a th:href="@{/admin/add}"><button class="btn btn-primary">Thêm sản phẩm</button> </a> </div>
        <form th:action="@{/admin/search}" method="get">
			    <input class="form-control me-2" type="search" name="keyword" placeholder="Tìm sản phẩm..." aria-label="Search">
		</form>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Mô tả</th>
                    <th>Danh mục</th>
                    <th>Giá</th>
                    <th>Ngày nhập</th>
                    <th>Tồn kho</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td>
					    <img th:src="@{/images/{image}(image=${product.image})}" alt="Product Image" width="100" height="100">
					</td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.description}" style="max-width: 200px"></td>
                    <td th:text="${product.category.name}"></td>
                    <td th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA', 0, 'POINT')}"></td>
                    <td th:text="${#temporals.format(product.created_at, 'dd-MM-yyyy HH:mm')}"></td>
                    <td th:text="${product.stock_quantity}"></td>
                    <td class="d-flex">
					  <a th:href="@{/admin/product/edit/{id}(id=${product.id})}" class="btn btn-sm btn-primary me-2">
					    <i class="bi bi-pen"></i> Sửa
					  </a>
					  <a th:href="@{/admin/delete/{id}(id=${product.id})}" 
					     class="btn btn-sm btn-danger" 
					     onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');">
					    <i class="bi bi-trash"></i> Xóa
					  </a>
					</td>
                </tr>
            </tbody>
        </table>

        <!-- PHÂN TRANG -->
		<nav aria-label="Page navigation">
		    <ul class="pagination">
		        <!-- Nút Previous -->
		        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
		            <a class="page-link" 
		               th:href="@{/admin/products(page=${currentPage - 1})}">
		                Previous
		            </a>
		        </li>
		
		        <!-- Hiển thị số trang -->
		        <li class="page-item" 
		            th:each="i : ${#numbers.sequence(0, totalPages - 1)}" 
		            th:classappend="${i == currentPage} ? 'active'">
		            <a class="page-link" 
		               th:href="@{/admin/products(page=${i})}"
		               th:text="${i + 1}">1</a>
		        </li>
		
		        <!-- Nút Next -->
		        <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
		            <a class="page-link" 
		               th:href="@{/admin/products(page=${currentPage + 1})}">
		                Next
		            </a>
		        </li>
		    </ul>
		</nav>
</body>
</html>