<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/index :: dynamic(~{::main})}">
<body>
	<main>
		<section class="about-us">
        <h1>Giới Thiệu Về Thời Trang XYZ</h1>
        <p>Chúng tôi là một thương hiệu thời trang chuyên cung cấp các sản phẩm cao cấp, hiện đại và phong cách. Với mục tiêu mang lại những sản phẩm chất lượng tốt nhất cho khách hàng, chúng tôi không ngừng sáng tạo và cải tiến.</p>
        
        <h2>Sứ Mệnh</h2>
        <p>Sứ mệnh của chúng tôi là cung cấp những bộ sưu tập thời trang đẹp và hợp xu hướng, giúp khách hàng thể hiện phong cách cá nhân một cách tự tin.</p>

        <h2>Tầm Nhìn</h2>
        <p>Trở thành một trong những thương hiệu thời trang hàng đầu, mang lại giá trị bền vững cho khách hàng và cộng đồng.</p>

        <h2>Giá Trị Cốt Lõi</h2>
        <ul>
            <li>Chất Lượng</li>
            <li>Khách Hàng Là Trên Hết</li>
            <li>Sáng Tạo và Đổi Mới</li>
            <li>Đạo Đức Kinh Doanh</li>
        </ul>
    </section>
	</main>
</body>
</html>